body {
  background-color: #141414;
  color: #ffffff;
    padding: 0px 12px;
}

.grid-wrapper {
    margin-top: 10px;
}

.filter-tab {
    opacity: 1;
}

.filter-tab.ng-hide-add,
.filter-tab.ng-hide-remove {
    transition: 0s linear all;
}

.filter-tab.ng-hide-add-active,
.filter-tab.ng-hide-remove-active {
    -webkit-transition: 0.5s cubic-bezier(0.425, 0, 0, 1) all;
    transition: 0.5s cubic-bezier(0.425, 0, 0, 1) all;
}

.filter-tab.ng-hide {
  opacity: 0;
}

.item {
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #253036;
    overflow: hidden;
    width: 400px;
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: 0.5s cubic-bezier(0.425, 0, 0, 1) all;
    transition: 0.5s cubic-bezier(0.425, 0, 0, 1) all;
    border-bottom-color: transparent;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

.item:hover {
    border-bottom-color: #b4ff14;
}

.item.ng-enter,
.item.ng-leave {
    -webkit-transition: 0.5s cubic-bezier(0.425, 0, 0, 1) all;
    transition: 0.5s cubic-bezier(0.425, 0, 0, 1) all;
}

.item.ng-enter {
    opacity: 0;
}

.item.ng-enter.ng-enter-active {
  opacity: 1;
}

.item.ng-enter-stagger {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.item.ng-leave {
    -webkit-transition: 0.4s cubic-bezier(0.425, 0, 0, 1) all;
    transition: 0.4s cubic-bezier(0.425, 0, 0, 1) all;
    opacity: 1;
}

.item.ng-leave.ng-leave-active {
    opacity: 0;
}

.item-content {
    padding: 10px;
    display: block;
}
.group-filter {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: height;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.menu form {
  background-color: #20272d;
    margin-bottom: 10px;
}

.menu ul {
    margin-bottom: 0;
    padding-left: 0;
}
.menu .search-text {
  cursor: text;
  overflow: hidden;
  background-color: #3c4c55;
  text-align: left;
  padding-left: 20px;
  height: 40px;
  border-left: 4px solid #3c4c55;
  border-width: 0px;
  border-left-width: 4px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.425, 0, 0, 1);
}
.menu .search-text:hover,
.menu .search-text:focus {
  border-left-color: #70c989;
  background-color: #f5f6f8;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
}
.menu-button {
  display: inline-block;
  text-align: center;
  background-color: #2b2b2b;
  padding: 12px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.425, 0, 0, 1);
  margin-left: 4px;
  transform: skewX(-20deg);
}
.menu-button:hover,
.menu-button:active {
  background-color: #1c1c1c;
}
.menu-button span {
  display: inline-block;
  transform: skewX(20deg);
}
.shade {
  height: 30px;
  margin-top: 10px;
}
.shade-1 {
  background-color: #1c1c1c;
}
.shade-2 {
  background-color: #232323;
}
.shade-3 {
  background-color: #2b2b2b;
}
.shade-4 {
  background-color: #333333;
}
